
<ion-header translucent="true" dir="{{GlobalFields.getLanguageLayout()}}">
    <ion-toolbar>
      <!-- If Side menu is used-->
      <ion-buttons *ngIf="GlobalFields.site_details.navigationType==2" slot="start" style="position: absolute;">
        <ion-menu-button style="color: #00ffff"></ion-menu-button>
      </ion-buttons>
      <ion-segment *ngIf="!GlobalFields.site_details.categoryListTabContent || GlobalFields.site_details.categoryListTabContent == 3" [(ngModel)]="tabShown" style="width: 50%; min-width: fit-content; margin: auto;">
          <ion-segment-button value="1">
              <ion-label>{{'CATEGORIES' | translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
              <ion-label>{{'REGIONS' | translate}}</ion-label>
          </ion-segment-button>
      </ion-segment>
      <ion-title *ngIf="GlobalFields.site_details.categoryListTabContent ==1 || GlobalFields.site_details.categoryListTabContent == 2">
        <span *ngIf="GlobalFields.site_details.categoryListTabContent == 1">{{'CATEGORIES' | translate}}</span>
        <span *ngIf="GlobalFields.site_details.categoryListTabContent == 2">{{'REGIONS' | translate}}</span>
      </ion-title>
    </ion-toolbar>
</ion-header>


<!-- Categories -->
<ion-content class="cards-bg social-cards" *ngIf="tabShown==1 && GlobalFieldsListingPro.listingCategories" style="margin-top: 20px;"
             [ngStyle]="GlobalFields.getBodyColorBackgroundJson()" dir="{{GlobalFields.getLanguageLayout()}}">

  <div style="width: 100%; padding: 15px;" >
    <span *ngFor="let cat of GlobalFieldsListingPro.listingCategories">
      <ion-row *ngIf="cat.count"  style="width: 100%; height: 130px;" (click)="getListingsByCategory(cat)">
        <ion-col style="text-align: center">
          <!--<div class="backImg" [style.background]="getBackground(cat)">-->
          <div class="backImg">
            <img-loader [src]="getBackgroundCachedRegions(cat)" style="width: 100%;" useImg
                        [imgAttributes]="getImgCachedClass('shadedImgCached categoryImgCached')"></img-loader>

            <div class="text">
                <span class="categoryBox">{{cat.name}}</span>
                <br>
                <span style="position: relative; top: 24%;">{{cat.count}} {{'LISTINGS' | translate}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </span>
  </div>

</ion-content>

<!-- Regions -->
<ion-content class="cards-bg social-cards" *ngIf="tabShown==2 && GlobalFieldsListingPro.regions" style="margin-top: 20px;"
             [ngStyle]="GlobalFields.getBodyColorBackgroundJson()" dir="{{GlobalFields.getLanguageLayout()}}">

  <div style="width: 100%; padding: 15px;" *ngIf="GlobalFieldsListingPro.regions && GlobalFieldsListingPro.regions.length>0">
    <span *ngFor="let reg of GlobalFieldsListingPro.regions" >
      <ion-row *ngIf="reg.count" style="width: 100%; height: 130px;"  (click)="getListingsByRegion(reg)">
        <ion-col style="text-align: center">
          <!--<div class="backImg" [style.background]="getBackground(cat)">-->
          <div class="backImg">
            <img-loader [src]="getBackgroundCachedRegions(reg)" useImg style="width: 100%;"
                        [imgAttributes]="getImgCachedClass('shadedImgCached categoryImgCached')"></img-loader>
            <div class="text">
                <span class="categoryBox">{{reg.name}}</span>
                <br>
                <span style="position: relative; top: 24%;">{{reg.count}} {{'LISTINGS' | translate}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </span>
  </div>

</ion-content>
